/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 11-giu-2016, 9.20.47
    Author     : Claudia Di Marco & Riccardo Mantini
*/

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    min-height: 600px;
    min-width: 800px;
    width: 100%;
    text-align: center;

}

fieldset{
    border: none;
}

#wrapper {
    background-color: rgb(255, 255, 255);
    font-family: Verdana,sans-serif;
    text-decoration: none;
    padding: 0;
    margin:2px auto; 
    text-align: center;
    min-height: 100%;
    position: relative;
    width: 100%;
}

#header{

    height:7em; 
    line-height:7em;
}
#main{
    padding: 10px 4% 30px 14%;
    min-width: 970px;
    min-height: 450px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    
}
#footer{
    position:relative;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */

}
a
{
    outline: none;
}

.ricerca{
    margin: 10px 0px;
}
label.ricerca
{
    display:block;
}


.elementiForm{
    margin: 10px 20px 10px 10px;
}
label.elementiForm {
    display: inline-block;
    width: 160px;
}



select.elementiForm, input.elementiForm {
    display:inline;
    font-size: 15px; 
    padding:8px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1)0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1)0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1)0px 0px 8px;  
}
button, input[type = 'submit'], input[type='button']
{
    color:white;
    background-color:rgb(11, 190, 210);
    border-radius: 4px;
    border:none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
button:disabled, input[type = 'submit' ]:disabled, input[type='button']:disabled{
    
    opacity: 0.50;
    cursor:not-allowed;
    
}
.faAzzurro{
    color:rgb(11, 190, 210);
}
button:hover, input[type = 'submit']:hover, input[type='button']:hover
{
    background-color:rgb(10, 170, 220);
}


input, select{
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 7px;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;

}

.affiancati
{
    float: left;
    margin: auto;
}
#dateEOrariDisponibili{
    display: inline-flex;
}

#calendarioPrenotazioneEsame{
    margin-right: 10%;
}

.colonna{
    width: 60px;
    float: left;
}

#orariDisponibili{
    width: 500px;
}
.orarioDisponibile{
    
    color:grey;
    padding: 1px;
    display:inline-block;
    
}
.orarioSelezionato{
    color:rgb(10,170,200);
    text-decoration: underline;
    font-weight: bold;
}
.orarioDisponibile:hover{
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    #main{
        padding-left: 5%;
        padding-right: 1%;
    }

}
@media only screen and (max-width: 1000px){
    #main{
        padding-left: 2%;
        padding-right: 1%;
    }
}