/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-lug-2016, 16.49.27
    Author     : Riccardo
*/

.log{
    font-size: 11px;
    display: flex;
    line-height: normal;
    text-align: justify;
}

#logInForm input[type="text"], #logInForm input[type="password"] {
    box-sizing: border-box;
    font-size: inherit;
    width: 10%;
    min-width: 80px;
    padding:1px;
}
#logInForm button, #logOutButton {
    cursor: pointer;
    display: inline-flex;
    font-size: inherit;
    width: 8%;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw{
        display:inline;
        float: none;

    }
}