/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-giu-2016, 20.18.44
    Author     : Claudia Di Marco & Riccardo Mantini
*/

#elementiFormMainRicerca{
    margin-left: 10%;
    float: left;
    margin-right: 10%;
}
#iconaMainRicercaRicerca {
    color:rgb(11, 190, 210);
    transform: scale(10) rotate(90deg);
    -webkit-transform: scale(10) rotate(90deg);
    -moz-transform: scale(10) rotate(90deg);
    -ms-transform: scale(10) rotate(90deg);
    -o-transform: scale(10) rotate(90deg);
    margin: 100px;
    
}

@media only screen and (max-width: 1200px){
    #elementiFormMainRicerca{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 1100px){
    #elementiFormMainRicerca{
        margin-left: 2%;
        margin-right: 2%;
    }
}
/*
#mainRicercaCerca{
    width: 100px;
    height: 40px;
    position: relative;
    left: 22.5%;
    
}*/

