/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-lug-2016, 10.13.43
    Author     : Claudia Di Marco & Riccardo Mantini
*/

.submit, .PEC, .numeroIscrizione {
    display: flex;
    justify-content: center;
}

div label {
    line-height: 50px;
}

.submit input{
    background-color: rgb(11, 190, 210);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    height: 40px;
    width: 100px;
    position: relative;
    right: 55px;
}

.PEC {
    position: relative;
    right: 27px;
}

.numeroIscrizione {
    position: relative;
    right: -30px;
}