<IfModule mod_rewrite.c>
#  data : ([0-9-]+)
# orario: ([0-2][0-3][:][0-5][0-9])   
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} GET 
  RewriteRule ^(logOut)?$ index.php?controller=$1
  RewriteRule ^(ricerca)/(utente)/(\w+)?$ index.php?controller=$1&task=$2&codice=$3 [L]
  RewriteRule ^(mySanitApp)?$ index.php?controller=$1
  RewriteRule ^(prenotazione)/(riepilogo)/([[:alnum:]]+)/((3[01]|[12][0-9]|0[1-9])-(1[0-2]|0[1-9])-[0-9]{4})/([0-9:]+)/(\w+)?$ index.php?controller=$1&task=$2&id=$3&data=$4&orario=$7&codice=$8 [L]
  RewriteRule ^(ricercaEsami)?$ index.php?controller=$1
  RewriteRule ^(prenotazione)/(esame)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]
  RewriteRule ^(impostazioni)/(clinica)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(esami|cliniche)/(visualizza)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]
  RewriteRule ^(esami)/(\w+)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3&parametro3=$4 [L]
  RewriteRule ^(esami)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3&parametro3=all [L]
  RewriteRule ^(esami)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=all&parametro3=all [L]
  RewriteRule ^(esami)?$ index.php?controller=$1&parametro1=all&parametro2=all&parametro3=all [L]
  RewriteRule ^(ricercaCliniche)?$ index.php?controller=$1 [L]
  RewriteRule ^(cliniche)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3 [L]
  RewriteRule ^(cliniche)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=all [L]
  RewriteRule ^(cliniche)?$ index.php?controller=$1&parametro1=all&parametro2=all [L]
  RewriteRule ^(registrazione)/(clinica|medico|utente)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(validazione)/(codiceFiscale)/(\w+)?$ index.php?controller=$1&task=$2&parametro=$3
  RewriteRule ^(\w+)?$ index.php?controller=$1
  RewriteRule ^(registrazione)/(conferma)/(utente|clinica|medico)/(\w+)?/(\w+)?$ index.php?controller=$1&task=$2&utente=$3&username=$4&codice=$5 [L]
  RewriteRule ^(autenticazione|mySanitApp)?$ index.php?controller=$1
  RewriteRule ^(servizi)/(cancella|aggiungi|modifica|disabilita|visualizza)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(prenotazioni|referti|impostazioni)/(visualizza)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(impostazioni)/(modifica)/(informazioni|medico|credenziali)?$ index.php?controller=$1&task=$2&task2=$3 [L]
  RewriteRule ^(prenotazioni|pazienti|referti|clienti)/(aggiungi|visualizza)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(prenotazioni|servizi|pazienti)/(visualizza)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]  
  RewriteRule ^(prenotazioni)/(conferma)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]
  RewriteRule ^(pazienti)/(visualizza)/([[:alnum:]]{16})?$ index.php?controller=$1&task=$2&id=$3 [L]
 RewriteRule ^(servizi)/(visualizza)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]
RewriteRule ^(referti)/(aggiungi|visualizza|download)/([[:alnum:]]+)?$ index.php?controller=$1&task=$2&id=$3 [L]
  

  RewriteRule ^(prenotazione)/(\w+)/(\w+)/(\w+)/([\d-]+)?$ index.php?controller=$1&clinica=$2&id=$3&giorno=$4&data=$5 [L]



    RewriteCond %{REQUEST_METHOD} POST 
    RewriteRule ^(ricerca)/(utente|partitaIVA|username|email|PEC|NumeroIscrizione)?$ index.php?controller=$1&task=$2 [L]
    RewriteRule ^(ricerca)/(codice)/(utente|medico)?$ index.php?controller=$1&task=$2&tipoUser=$3 [L]


    RewriteRule ^(impostazioni)/(modifica)/(informazioni|medico|credenziali)?$ index.php?controller=$1&task=$2&task2=$3 [L]
    RewriteRule ^(prenotazione)/(conferma)?$ index.php?controller=$1&task=$2 [L]
    RewriteRule ^(validazione)/(usernameUtente)?$ index.php?controller=$1&task=$2
    RewriteRule ^(impostazioni)/(clinica)/(workingPlan|credenziali|informazioni)?$ index.php?controller=$1&task=$2&task2=$3 [L]
    RewriteRule ^(\w+)/(\w+)/(\w+)?$ index.php
    RewriteRule ^(\w+)/(\w+)?$ index.php
    RewriteRule ^(\w+)?$ index.php

    


  # Adaptive-Images -----------------------------------------------------------------------------------

  # Add any directories you wish to omit from the Adaptive-Images process on a new line, as follows:
  # RewriteCond %{REQUEST_URI} !ignore-this-directory
  # RewriteCond %{REQUEST_URI} !and-ignore-this-directory-too
  
 # RewriteCond %{REQUEST_URI} !assets
    
  # Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
  # to adaptive-images.php so we can select appropriately sized versions
  
  #RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php

  # END Adaptive-Images -------------------------------------------------------------------------------
</IfModule>