<IfModule mod_rewrite.c>
  
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} GET 
  RewriteRule ^(ricercaEsami)?$ index.php?controller=$1
  RewriteRule ^(esami)/(\w+)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3&parametro3=$4 [L]
  RewriteRule ^(esami)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3&parametro3=all [L]
  RewriteRule ^(esami)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=all&parametro3=all [L]
  RewriteRule ^(esami)?$ index.php?controller=$1&parametro1=all&parametro2=all&parametro3=all [L]
  RewriteRule ^(ricercaCliniche)?$ index.php?controller=$1 [L]
  RewriteRule ^(cliniche)/(\w+)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=$3 [L]
  RewriteRule ^(cliniche)/(\w+)?$ index.php?controller=$1&parametro1=$2&parametro2=all [L]
  RewriteRule ^(cliniche)?$ index.php?controller=$1&parametro1=all&parametro2=all [L]
  RewriteRule ^(registrazione)/(clinica|medico|utente)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(validazione)/(codiceFiscale)/(\w+)?$ index.php?controller=$1&task=$2&parametro=$3
  RewriteRule ^(\w+)?$ index.php?controller=$1
  RewriteRule ^(registrazione)/(conferma)/(utente|clinica|medico)/(\w+)?/(\w+)?$ index.php?controller=$1&task=$2&utente=$3&username=$4&codice=$5 [L]
  RewriteRule ^(autenticazione|mySanitApp)?$ index.php?controller=$1
  RewriteRule ^(servizi)/(cancella|aggiungi|modifica|disabilita|visualizza)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(prenotazioni|referti|impostazioni)/(utente)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(prenotazioni|pazienti)/(aggiungi|visualizza)?$ index.php?controller=$1&task=$2 [L]
  RewriteRule ^(prenotazioni|esami|pazienti)/(visualizza)/([[:alnum:]]{13})?$ index.php?controller=$1&task=$2&id=$3 [L]


    RewriteCond %{REQUEST_METHOD} POST 
    RewriteRule ^(\w+)/(\w+)/(\w+)?$ index.php
    RewriteRule ^(\w+)/(\w+)?$ index.php
    RewriteRule ^(\w+)?$ index.php

  


  # Adaptive-Images -----------------------------------------------------------------------------------

  # Add any directories you wish to omit from the Adaptive-Images process on a new line, as follows:
  # RewriteCond %{REQUEST_URI} !ignore-this-directory
  # RewriteCond %{REQUEST_URI} !and-ignore-this-directory-too
  
 # RewriteCond %{REQUEST_URI} !assets
    
  # Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
  # to adaptive-images.php so we can select appropriately sized versions
  
  #RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php

  # END Adaptive-Images -------------------------------------------------------------------------------
</IfModule>